@include aoa-bg-series($bg__init,$classes_init);

.about{
    &-s3{
        background-color: #aaa!important;
        background-blend-mode: multiply!important;
    }
}

.bg{
    &-orange{
        background-color: $color__orange--dark!important;
    }
}

.gallery{
    &-s1,&-s2{
        background-position: center!important;
    }
}

.menu{
    &-s3{
        background-color: #aaa!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

nav{
    z-index: 10;
}

@media all and (max-width: 767px){
    .about,.gallery{
        &-s1,&-s2{
            *{
                color:#fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .contact,.index,.menu{
        &-s1{
            *{
                color:#fff!important;
                text-shadow: $text__shadow;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color:#fff!important;
            }
            background-color: $color__orange--dark;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
}